1. importing pandas

In [2]:
import pandas as pd

2. opening a local csv file

In [3]:
df=pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\MLS\DAY 1\iris.csv")

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

3. opening a csv file from an URL

In [16]:

df = pd.read_csv('https://raw.githubusercontent.com/CourseMaterial/DataWrangling/main/flowerdataset.csv')
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

index_col parameter

if we have two or more index the we can convert it into a single index

In [ ]:
# pd.read_csv("iris.csv",index_col="column name") in column that colmn will be come which will be convert into index

header parameter

In [ ]:
# when normal row become hadder and we want actual header 
#pd.read_csv("file name",header=1)

use col_parameter

In [ ]:
# in dataset we dont need all the column so we can  specify that column name which we want 
#pd.read_csv("file name",usecols=["column name,"column name"])

squeeze parameter

In [ ]:
#when we want only 1 column
#pd.read_csv("file name",usecols=["column name"],squeeze= true)

skiprows/nrows parameter

In [ ]:
#for skip the row
#pd.read_csv("file name",skiprow=[0,1])
# for number of rows
##pd.read_csv("file name",nrows=100)

skip bad lines

In [ ]:
#pd.read_csv("file name",sep=";",error_bad_lines=False)

dtypes parameter

In [ ]:
#we can convert datatype according to our choice
#pd.read_csv("file name",dtype={"column name":int})

handling dates

in pandas object means string

In [ ]:
#in dataset all the dates provide via string so we can't fatch the actual data information
#pd.read_csv("file name",parse_dates={"dates"})

convertors

In [ ]:
#convert the names in short form

In [ ]:
#def rename (name):
 #if name=="name ":
   #return "short name"
 #else:
   #return name

In [ ]:
##pd.read_csv("file name",conertors={"column name":rename})

na_values parameters

In [ ]:
##pd.read_csv("file name",na_values=["male"])
# here male word is converting into nan value

loading a hug dataset in chunks

In [ ]:
#dividation of rows
#dfs=pd.read_csv("file name",chunksize=5000)

In [ ]:
#for chunk in dfs:
 #print(chunk.shape)

In [ ]:
def average(a,b):
print("the average is", (a+b)/2)
average(4,6)
output:the average is 5.0